#Data Structures

In [5]:
#List
"""
1. Ordered (Indexable)
2. Changeable (Mutable) 
3. Duplicates in Posistion Indexes
"""
#Tuple
"""
1. Ordered
2. Unchangeable
3. Duplicates in Position Indexes
"""
#Set
"""
1. Unordered (No position Index)
2. Addable/Removable (Because theres no Indexing you cannot change it, however you can add existing elements and you can remove existing elements)
3. No Duplicates (In mathematics, sets do not contain duplicates)
"""
#Dictionary
"""
1. Unordered
2. Changeable
3. No Duplicate
"""

'\n1. Unordered\n2. Changeable\n3. No Duplicate\n'

In [7]:
L = [1,3,4.9,"name",3]
T = (1,3,4.9,"name",3)
S = {1,3,4.9,"name",3}
D = {23:"twothree",'B':43,'C':'CCD'}

In [9]:
print("The type of L is ", type(L))
print("The type of T is ", type(T))
print("The type of S is ", type(S))
print("The type of D is ", type(D))

The type of L is  <class 'list'>
The type of T is  <class 'tuple'>
The type of S is  <class 'set'>
The type of D is  <class 'dict'>

In [13]:
print(L[2])
print(T[2])
print(4.9 in S)
print(D['B'])

4.9
4.9
True
43

In [19]:
L #indexing for this is [1(0),3(1),4.9(2),'name'(3),3(4)]

[1, 3, 4.9, 'name', 3]

In [17]:
L[1:3]

[3, 4.9]

In [21]:
L[::-1]

[3, 'name', 4.9, 3, 1]

In [23]:
T[:3]

(1, 3, 4.9)

In [25]:
 L

[1, 3, 4.9, 'name', 3]

In [29]:
L =L + ["how","are",6,"you"]

In [31]:
L

[1, 3, 4.9, 'name', 3, 'how', 'are', 6, 'you']

In [35]:
L.append(8.9)

In [37]:
L

[1, 3, 4.9, 'name', 3, 'how', 'are', 6, 'you', 8.9]

In [39]:
T2 = ("how","are",6,"you")
T3 = T + T2  #to concatenate two tuples, use the '+' operation.

In [41]:
T3

(1, 3, 4.9, 'name', 3, 'how', 'are', 6, 'you')

In [43]:
S

{1, 3, 4.9, 'name'}

In [45]:
S.add(56) #to add a single value to the set, use .add

In [47]:
S

{1, 3, 4.9, 56, 'name'}

In [49]:
S.update({23,"game",3})  #to add multiple values to the set, use .update

In [51]:
S

{1, 23, 3, 4.9, 56, 'game', 'name'}

In [53]:
D

{23: 'twothree', 'B': 43, 'C': 'CCD'}

In [55]:
D['newKey'] = "newValue"

In [57]:
D

{23: 'twothree', 'B': 43, 'C': 'CCD', 'newKey': 'newValue'}

In [75]:
D2 = {"y":"YY","z":10}
D3 =D | D2  #to concatenate two dictionaries, you use the '|' operator, you could also use '.update'

In [123]:
#help(D)

In [73]:
D3

{23: 'twothree', 'B': 43, 'C': 'CCD', 'newKey': 'newValue', 'y': 'YY', 'z': 10}

In [79]:
L

[1, 3, 4.9, 'name', 3, 'how', 'are', 6, 'you', 8.9]

In [81]:
del L[3]

In [83]:
L

[1, 3, 4.9, 3, 'how', 'are', 6, 'you', 8.9]

In [85]:
S

{1, 23, 3, 4.9, 56, 'game', 'name'}

In [87]:
S.remove('game')

In [89]:
S

{1, 23, 3, 4.9, 56, 'name'}

In [91]:
D

{23: 'twothree', 'B': 43, 'C': 'CCD', 'newKey': 'newValue'}

In [93]:
del D['C']

In [95]:
D

{23: 'twothree', 'B': 43, 'newKey': 'newValue'}

In [97]:
L

[1, 3, 4.9, 3, 'how', 'are', 6, 'you', 8.9]

In [99]:
L2 = L

In [101]:
L2

[1, 3, 4.9, 3, 'how', 'are', 6, 'you', 8.9]

In [103]:
L2[2]= "four point nine"

In [105]:
L2

[1, 3, 'four point nine', 3, 'how', 'are', 6, 'you', 8.9]

In [107]:
L

[1, 3, 'four point nine', 3, 'how', 'are', 6, 'you', 8.9]

In [113]:
L2 = L.copy()

In [115]:
L2

[1, 3, 'four point nine', 3, 'how', 'are', 6, 'you', 8.9]

In [117]:
L2[2]= 4.9

In [119]:
L2

[1, 3, 4.9, 3, 'how', 'are', 6, 'you', 8.9]

In [121]:
L

[1, 3, 'four point nine', 3, 'how', 'are', 6, 'you', 8.9]

In [137]:
L3 = L[1:5] #slicing automatically creates a copy of the list L in L3

In [127]:
L3

[3, 'four point nine', 3, 'how']

In [129]:
L3[0] = "three"

In [133]:
L3

['three', 'four point nine', 3, 'how']

In [135]:
L

[1, 3, 'four point nine', 3, 'how', 'are', 6, 'you', 8.9]

In [139]:
L

[1, 3, 'four point nine', 3, 'how', 'are', 6, 'you', 8.9]

In [141]:
T

(1, 3, 4.9, 'name', 3)

In [143]:
S

{1, 23, 3, 4.9, 56, 'name'}

In [145]:
D

{23: 'twothree', 'B': 43, 'newKey': 'newValue'}

In [147]:
D2 = {'A':L,'B':T,'C':S,'D':D}

In [149]:
D2

{'A': [1, 3, 'four point nine', 3, 'how', 'are', 6, 'you', 8.9],
 'B': (1, 3, 4.9, 'name', 3),
 'C': {1, 23, 3, 4.9, 56, 'name'},
 'D': {23: 'twothree', 'B': 43, 'newKey': 'newValue'}}

In [151]:
D2['A']

[1, 3, 'four point nine', 3, 'how', 'are', 6, 'you', 8.9]

In [155]:
D2['A'][2]

'four point nine'

In [157]:
K = D2['D']

In [159]:
K

{23: 'twothree', 'B': 43, 'newKey': 'newValue'}

In [165]:
for x in K:
    print(x,K[x])

23 twothree
B 43
newKey newValue